nav {
  height: 120px;
  width: 100%;
  background-color: #e39700;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.nav-span-logo {
  font-family: "Bungee", cursive;
  font-size: 1.5em;
  margin-left: 1.5em;
}

.nav-div-right-text {
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
}
.nav-text-bold {
  font-weight: 600;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.new-tweet-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: red;
}
i.bouncing {
  animation: bounce2 1.5s ease infinite forwards;
}
@keyframes bounce2 {
  0% {
    transform: translateY(-0.2rem);
  }
  50% {
    transform: translateY(0.2rem);
  }
  100% {
    transform: translateY(-0.2rem);
  }
}

/* Laptops / Desktops: minimum width of 1024px */

@media only screen and (min-width: 1024px) {
  .container-desk {
    width: 100%;
    display: flex;
    margin-top: 250px;
    flex-direction: row;
    justify-content: space-between;
  }

  header {
    width: 30vw;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-left: 30px;
  }

  .header-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .icon-name-hashtag {
    justify-content: space-between;
  }

  .new-tweet {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 200px;
  }
  .icon-name {
    margin-left: 0;
    justify-content: flex-start;
  }

  .div-form {
    margin-top: 0;
  }

  nav {
    height: 120px;
    width: 100%;
    background-color: #4056a1;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
  }

  .nav-span-logo {
    font-family: "Bungee", cursive;
    font-size: 1.5em;
    margin-left: 1.5em;
  }

  .nav-div-right-text {
    margin-right: 1.5em;
    display: flex;
    flex-direction: column;
  }
  .nav-text-bold {
    font-weight: 600;
  }

  .icon-container {
    display: flex;
    justify-content: center;
  }
}
